/* Write your CSS here! */
header, footer {
    background-color: white;
    margin: 8px;
    padding: 20px;
    display: block;
    color: #424242;
  }

body {
    margin: 8px;
    padding: 20px;
    display: block;
    background-color: white;
    color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    max-width: auto;
  }

  a {
    color: #445963;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

html {
    width: 100%;
}
  .funParagraph {
    color: green;
  }

  #mainHeading{
    color: red;
  }

  #intro {
    width: 100%;
    margin-left: left;
  }
  
  #figure {
    height: auto;
    max-width: 100%;
    display: block;
  }